article(class="article article_selling")
    div(class="wrapper wrapper_selling")
        div(class="wrapper_grid")
            div
            div
            div(class="wrapper_img")
                img(src="../assets/imgScroll/DSC02624 1.png", alt="selling" class="img img_seling")
        div(class="sub_wrapper_description sub_wrapper_selling")
            p(class="title_medium article_selling__title") ПРОДАЙТЕ
            div(class="sub_sub_wrapper_description sub_sub_wrapper_selling")
                p(class="description article_selling__description") Завершите сделку: выставьте счет
                p(class="description article_selling__description") и добейтесь оплаты от клиента.
    div(class="scroll_button_container")
        div(class="scroll_left scroll_button")
            div(class="scroll_button_left scroll_button_position")
        div(class="scroll_right scroll_button")
            div(class="scroll_button_right scroll_button_position")