section(class="container_greetings")
    div(class="sub_container_greetings")
        div(class="wrapper_text")
            p(class="container_greetings__title") ОФИЦИАЛЬНЫЙ ПРЕДСТАВИТЕЛЬ
            p(class="container_greetings__text") Находите заинтересованных клиентов и получайте вознаграждение
            button(class="container_greetings__button") СТАТЬ ПАРТНЕРОМ
        div(class="animation_line")
        div(class="animation_elipse")