@import '../../style/mixin.scss';
@import '../../style/color.scss';

.container_greetings {
    overflow: hidden;
    min-height: 100vh;
}

.sub_container_greetings {
    top: 100vh;
    z-index: 0;
    width: 100%;
    display: flex;
    min-height: 100vh;
    position: absolute;
    border-radius: 48px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border-radius: 48px;

    animation: 4s upAnimation forwards;
}

.wrapper_text {
    display: flex;
    max-width: 850px;
    margin-top: 48px;
    align-items: flex-end;
    flex-direction: column;
}

.main__title {
    text-align: start;
    line-height: 98.49%;
    @include text(clamp(24px, 10vw, 96px), 'HandelGothic TL', white, -0.026em);

    animation: 5s invertColor forwards;
}

.main__text {
    width: 100%;
    text-align: start;
    line-height: 23px;
    margin: 11px -4px 0;
    @include text(clamp(14px, 8vw, 20px), 'Helvetica', $yellow, 0.002em);

    animation: 5s invertColor forwards;
}

.animation_line {
    width: 100%;
    position: absolute;

    &::before, &::after {
        left: 0;
        content: '';
        position: absolute;
    }

    &::before {
        height: 2px;
        width: 46.6%;
        bottom: -166px;
        background-color: $yellow;

        animation: 5s invertBackgroundColor forwards;
    }
    &::after{
        bottom: -169px;
        border-left: 4px solid $yellow;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;

        animation: 5s invertArrowColor forwards;
    }
}

.animation_elipse {
    width: 100%;
    position: absolute;
    &::before, &::after {
        content: "";
        position: absolute;
        border-radius: 100%;

        animation: 5s invertElipseColor forwards;
    }
    &::after {
        top: 28px;
        width: 53px;
        height: 53px;
        right: 167px;
        border: 1px solid $yellow;
    }

    &::before{
        top: 54px;
        right: 193px;
        border: 2px solid $yellow;
    }
}

.container_greetings__button {
    margin: 74px 6px 12px;
    text-transform: uppercase;
    @include button(36px, 98px, white, black);
    @include text(clamp(14px, 8vw, 20px), 'Helvetica', $yellow, 0.002em);

    animation: 5s invertButtonColor forwards;
}
