section(class="main__container_greetings")
    div(class="sub_main__container_greetings")
        div(class="main__container_text")
            p(class="main__title") ОФИЦИАЛЬНЫЙ ПРЕДСТАВИТЕЛЬ
            p(class="main__text") Находите заинтересованных клиентов и получайте вознаграждение
            button(class="container_greetings__button") СТАТЬ ПАРТНЕРОМ
        div(class="main__container_line")
        div(class="main__container_elipse")