@import '../../style/mixin.scss';
@import '../../style/color.scss';

@include animation_mixin_arrow_line(arrowLine1440, 46.6%);
@include animation_mixin_arrow_line(arrowLine1050, 50%);
@include animation_mixin_arrow_line(arrowLine780, 30%);
@include animation_mixin_arrow_line(arrowLine520, 16.6%);

@include animation_mixin_arrow_delta(arrowDelta1440, 46.6%);
@include animation_mixin_arrow_delta(arrowDelta1050, 50%);
@include animation_mixin_arrow_delta(arrowDelta780, 30%);
@include animation_mixin_arrow_delta(arrowDelta520, 16.6%);

.animation_line {
    left: 0;
    width: 100%;
    margin-bottom: 0.5%;
    position: absolute;

    @media  screen and (max-width: 520px) {
        width: 40%;
    }

    &::before, &::after {
        left: 0;
        content: '';
        position: absolute;
    }

    &::before {
        height: 2px;
        background-color: $yellow;
        @media  screen and (min-width: 1050px) {
            width: 46.6%;
            animation: 5s arrowLine1440 forwards;
        }
        @media  screen and (max-width: 1050px) {
            width: 50%;
            animation: 5s arrowLine1050 forwards;
        }
        @media  screen and (max-width: 780px) {
            width: 30%;
            animation: 5s arrowLine780 forwards;
        }
        @media  screen and (max-width: 520px) {
            width: 16.6%;
            animation: 5s arrowLine520 forwards;
        }
    }
    &::after{
        bottom: -5px;
        border-left: 4px solid $yellow;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;

        @media  screen and (min-width: 1050px) {
            animation: 5s arrowDelta1440 forwards;
        }
        @media  screen and (max-width: 1050px) {
            animation: 5s arrowDelta1050 forwards;
        }
        @media  screen and (max-width: 780px) {
            animation: 5s arrowDelta780 forwards;
        }
        @media  screen and (max-width: 520px) {
            animation: 5s arrowDelta520 forwards;
        }
    }
}

@keyframes upAnimation {
    0% {
        top: 100vh;
    }
    55% {

    }
    to {
        top: 123px;
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes invertColor {
    to {
        color: black;
    }
}

@keyframes invertButtonColor {
    to {
        // color: $yellow;
        border-color: $yellow;
    }
}
