@import '../../../style/folderMixin.scss';
@import '../../../style/mixin.scss';
@import '../../../style/color.scss';

.animation_observer {
    display: flex;
    min-height: 274px;
    align-items: center;
    justify-content: center;
    @media  screen and (max-width: 1300px) {
        min-height: 210px;
    }
    @media  screen and (max-width: 720px) {
        min-height: 198px;
    }
}

.animation_observer.revenue_folder {
    @media  screen and (max-width: 1300px) {
        bottom: -45vh;
        min-height: 10px;
        position: relative;
    }
    @media  screen and (max-width: 720px) {
        bottom: -65vh;
    }
}

.animation_observer.support_folder {
    @media  screen and (max-width: 1300px) {
        bottom: 10vh;
        min-height: 10px;
        position: relative;
    }
    @media  screen and (max-width: 720px) {
        bottom: 0;
    }
}

.animation_observer.education_folder {
    @media  screen and (max-width: 720px) {
        position: relative;
        bottom: -25vh;
    }
}

.animation_observer.remote_folder {
    @media  screen and (max-width: 1300px) {
        bottom: -20vh;
        min-height: 10px;
        position: relative;
    }
    @media  screen and (max-width: 720px) {
        bottom: 0;
        bottom: -45vh;
    }
}

.animation_observer.service_folder {
    @media  screen and (max-width: 1300px) {
        bottom: -80vh;
        min-height: 10px;
        position: relative;
    }
    @media  screen and (max-width: 720px) {
        bottom: 0;
        bottom: -55vh;
    }
}

.wrapper_folder {
    display: flex;
    bottom: -200vh;
    @include folder;
    transition: .0s;
    z-index: -100000;
    position: absolute;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-between;
    @media  screen and (max-width: 1300px) {
        width: 384px;
        height: 292px;
        &::after {
            height: 250px; 
        }
    }
    @media  screen and (max-width: 720px) {
        width: 300px;
        height: 241px;
        &::after {
            height: 198px; 
        }
    }
}

.animation_dropping {
    bottom: 0;
    transition: .8s;
    visibility: visible;
}

.container_folder {
    display: grid;
    position: relative;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "service remote"
      "education ."
      "revenue support";
    @media  screen and (max-width: 1300px) {
        grid-template-areas: 
        "education ."
        "remote support"
        "service revenue";
        grid-template-rows: 202px 415px 12px;
    }
    @media  screen and (max-width: 900px) {
        margin-bottom: 100px;
    }
    @media  screen and (max-width: 720px) {
        grid-template-areas: 
        "support"
        "education"
        "remote"
        "service"
        "revenue";
        grid-template-columns: 1fr;
        grid-template-rows: 273px 150px 150px 100px 100px;
    }
}

.service_folder {
    z-index: 1;
    grid-area: service;
    @media  screen and (max-width: 1300px) {
        z-index: 5;
    }
}

.remote_folder {
    z-index: 2;
    grid-area: remote;
    @media  screen and (max-width: 720px) {
        z-index: 4;
    }
}

.education_folder {
    z-index: 3;
    grid-area: education;
}

.revenue_folder {
    z-index: 4;
    grid-area: revenue;
    @media  screen and (max-width: 720px) {
        z-index: 6;
    }
}

.support_folder {
    z-index: 3;
    grid-area: support;
}
