div(class="container_folder")

    div(class="animation_observer service_folder")
        div(class="wrapper_folder service_folder")
            div(class="folder_name")
                p(class="folder_name_title folder_service_title") Наши сервисы
            div(class="folder_box")
                div(class="wrapper_description wrapper_description_service")
                    p(class="folder_box_description service_folder_text") Более
                        span(class="folder_box_description service_folder_text select_text") 20 сервисов
                        | для бизнеса и  бухгалтерии

    div(class="animation_observer remote_folder")      
        div(class="wrapper_folder remote_folder")
            div(class="folder_name")
                p(class="folder_name_title folder_remote_title") Дистанционно
            div(class="folder_box")
                div(class="wrapper_description wrapper_description_remote")
                    p(class="folder_box_description remote_folder_text") Партнерство из
                        span(class="folder_box_description remote_folder_text select_text") любой
                        | точки мира
                        
    div(class="animation_observer education_folder")
        div(class="wrapper_folder education_folder")
            div(class="folder_name")
                p(class="folder_name_title folder_education_title") Обучение
            div(class="folder_box")
                div(class="wrapper_description wrapper_description_education")
                    p(class="folder_box_description education_folder_text")
                        span(class="folder_box_description education_folder_text select_text") Бесплатное обучение
                        | вас
                    p(class="folder_box_description education_folder_text") ваших менеджеров, специалистов внедрения

    div(class="animation_observer revenue_folder")
        div(class="wrapper_folder revenue_folder")
            div(class="folder_name")
                p(class="folder_name_title folder_revenue_title") Доход
            div(class="folder_box")
                div(class="wrapper_description wrapper_description_revenue")
                    p(class="folder_box_description revenue_folder_text") Прогрессивный доход
                    p(class="folder_box_description revenue_folder_text select_text") от 25-50%
                div(class="wrapper_description wrapper_description_revenue")
                    p(class="folder_box_description revenue_folder_text") Формирование собственной
                    p(class="folder_box_description revenue_folder_text") клиентской базы с возможностью
                    p(class="folder_box_description revenue_folder_text")
                        span(class="folder_box_description revenue_folder_text select_text") дополнительных продаж
                        | новых
                        | лицензий

    div(class="animation_observer support_folder")
        div(class="wrapper_folder support_folder")
            div(class="folder_name")
                p(class="folder_name_title folder_support_title") Поддержка
            div(class="folder_box")
                div(class="wrapper_description wrapper_description_support")
                    p(class="folder_box_description support_folder_text") Техническая поддержка
                    span(class="folder_box_description support_folder_text select_text") 24/7 и персональный менеджер
            