@import '../../style/mixin.scss';
@import '../../style/color.scss';

.section_form {
    position: relative;
    padding: 52px 48px 48px 45px;
    @include block(clamp(280px, 100%, 1440px), 2603px);
    flex-direction: column;
}

.wrapper_benefits {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    border-top: 2px solid $whiteBorder;
}
