-formAction = "form"

secrion(class="section_form")
    div(class="wrapper_benefits")
        div(class="wrapper_form_text")
            p(class="main__title section__form__title") ПРЕИМУЩЕТВА
            p(class="section__form__text") РАБОТЫ С НАМИ

        include folder/folder
    div(class="sub_section_form")
        include title/title
        form(class="wrapper_form" method="post" action=formAction+".php")
            div(class="sub_wrapper_form")
                p(class="sub_section_form_title") ОСТАЛИСЬ ВОПРОСЫ?
                p(class="sub_section_form_regulations form_description") Заполните контактную форму или свяжись с нами любым удобным способом
                div(class="sub_sub_wrapper_form")
                    span(class="wrapper_form_name wrapper_input")
                        input(class="form_input form_description name" name="name" type="text")
                    span(class="wrapper_form_phone wrapper_input")
                        input(class="form_input form_description phone" name="phone" type="text")
                    span(class="wrapper_form_email wrapper_input")
                        input(class="form_input form_description email" name="email" type="email")
                    div(class="wrapper_form_button")
                        span(class="wrapper_form_question wrapper_input")
                            input(class="form_input form_description question" name="question" type="text")
                        button(class="form_button_question" type="submit") ЗАДАТЬ ВОПРОС
            p(class="form_info") * Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности
