secrion(class="section_form")
    div(class="wrapper_benefits")
        div(class="wrapper_form_text")
            p(class="main__title section__form__title") ПРЕИМУЩЕТВА
            p(class="section__form__text") РАБОТЫ С НАМИ

        include folder/folder
    include title/title