@import '../../style/mixin.scss';
@import '../../style/color.scss';

.scroll {
    z-index: 6;
    width: 100%;
    cursor: none;
    min-height: 100vh;
    position: relative;
    background-color: white;
}

.scroll_wrapper {
    top: 100vh;
    z-index: 6;
    width: 100%;
    display: flex;
    transition: 0.0s;
}

.article {
    display: flex;
    margin: 0 16px;
    min-height: 100vh;
    align-items: normal;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    min-width: clamp(280px, 80%, 954px);
}

.sub_scroll_wrapper {
    display: flex;
    margin-right: 19px;
    flex-direction: column;
    justify-content: center;
}

.sub_sub_scroll_wrapper {
    margin: 145px 120px 0 -5px;
}

.scroll__title {
    width: 50vw;
    line-height: 98%;
    padding-left: 25px;
    @include text(clamp(24px, 10vw, 96px), 'HandelGothic TL', black, -0.03em);
}

.cursor {
    width: 100px;
    height: 111px;
    display: none;
    z-index: 10000;
    position: fixed;
    background-image: url('../assets/svg/cursor.svg');
}

.wrapper {
    position: relative;
    padding: 75px 74px;
    border-radius: 48px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border: 1px solid $whiteBorder;
    @include block(clamp(280px, 100%, 956px), 802px);
    margin-top: 5px;
}

.sub_wrapper_text {
    display: flex;
    min-height: 150px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sub_sub_wrapper_text {
    margin-bottom: 1px;
}

.text {
    line-height: 21px;
    text-transform: uppercase;
    @include text(18px, 'Helvetica', black, 0.016em);
}

.title {
    top: -4px;
    left: -5px;
    line-height: 98%;
    position: inherit;
    margin-bottom: 30px;
    @include text(clamp(24px, 10vw, 64px), 'HandelGothic TL', black, -0.03em);
}

.img {
    width: 100%;
}

.wrapper_img {
    left: -4px;
    top: -233px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 495px;
    transition: linear 0.3s;
    justify-content: center;
    height: max(100px, 218px);
    width: clamp(280px, 100%, 472px);
}
