article(class="article article_engage")
    div(class="wrapper wrapper_engage")
        div(class="wrapper_grid")
            div
            div
            div(class="wrapper_img")
                img(src="../assets/imgScroll/IMG_4596 1.png", alt="кабанчик" class="img img_engage")
        div(class="sub_wrapper_description sub_wrapper_engage")
            p(class="title article_engage__title") ПРИВЛЕКАЙТЕ
            div(class="sub_sub_wrapper_description sub_sub_wrapper_engage")
                p(class="description article_engage__description") Находите заинтересованных
                p(class="description article_engage__description") клиентов. Используйте готовые
                p(class="description article_engage__description") инструкции, скрипты и
                p(class="description article_engage__description") маркетинговые материалы