article(class="article article_engage")
    div(class="wrapper wrapper_engage")
        div(class="wrapper_grid")
            div
            div
            div(class="wrapper_img")
                img(src="../assets/imgScroll/IMG_4596 1.png", alt="кабанчик" class="img img_engage")
        div(class="sub_wrapper_text sub_wrapper_engage")
            p(class="title article_engage__title") ПРИВЛЕКАЙТЕ
            div(class="sub_sub_wrapper_text sub_sub_wrapper_engage")
                p(class="text article_engage__text") Находите заинтересованных
                p(class="text article_engage__text") клиентов. Используйте готовые
                p(class="text article_engage__text") инструкции, скрипты и
                p(class="text article_engage__text") маркетинговые материалы