article(class="article article_clients")
    div(class="wrapper wrapper_clients")
        div(class="wrapper_grid")
            div
            div
            div(class="wrapper_img")
                img(src="../assets/imgScroll/DSC02411 1.png", alt="clients" class="img img_clients")
        div(class="sub_wrapper_description sub_wrapper_clients")
            p(class="title_medium article_clients__title") ПРОДЛИТЕ КЛИЕНТА
            div(class="sub_sub_wrapper_description sub_sub_wrapper_clients")
                p(class="description article_clients__description") Мы как и вы заинтересованы, чтобы клиент
                p(class="description article_clients__description") возвращался к нам снова и снова, поэтому
                p(class="description article_clients__description") разработали инструкции и регламенты, которые
                p(class="description article_clients__description") помогут сформировать вашу постоянную клиентскую
                p(class="description article_clients__description") базу и больше зарабатывать.
    div(class="scroll_button_container")
        div(class="scroll_left scroll_button")
            div(class="scroll_button_left scroll_button_position")
        div(class="scroll_right scroll_button")
            div(class="scroll_button_right scroll_button_position")