article(class="article article_clients")
    div(class="wrapper wrapper_clients")
        div(class="wrapper_grid")
            div
            div
            div(class="wrapper_img")
                img(src="../assets/imgScroll/DSC02411 1.png", alt="clients" class="img img_clients")
        div(class="sub_wrapper_text sub_wrapper_clients")
            p(class="title article_clients__title") ПРОДЛИТЕ КЛИЕНТА
            div(class="sub_sub_wrapper_text sub_sub_wrapper_clients")
                p(class="text article_clients__text") Мы как и вы заинтересованы, чтобы клиент
                p(class="text article_clients__text") возвращался к нам снова и снова, поэтому
                p(class="text article_clients__text") разработали инструкции и регламенты, которые
                p(class="text article_clients__text") помогут сформировать вашу постоянную клиентскую
                p(class="text article_clients__text") базу и больше зарабатывать.