.article_select__description {
    &:nth-child(1){
        margin-bottom: 21px;
    }
}

.article_select__title {
    margin-left: -3px;
    margin-bottom: 109px;
}

.sub_sub_wrapper_select {
    left: -3px;
    bottom: -27px;
    position: absolute;
}