article(class="article article_select")
    div(class="wrapper wrapper_select")
        div(class="wrapper_img")
            img(src="../assets/imgScroll/IMG_4582.png", alt="select" class="img img_select")
        div(class="sub_wrapper_text sub_wrapper_select")
            p(class="title article_select__title") ПОДБЕРИТЕ
            div(class="sub_sub_wrapper_text sub_sub_wrapper_select")
                p(class="text article_select__text") фунционал СБИС и тариф
                p(class="text article_select__text") Научим и расскажем вам, как
                p(class="text article_select__text") работает СБИС, какой сервис
                p(class="text article_select__text") выгоден и удобен клиенту.