article(class="article article_select")
    div(class="wrapper wrapper_select")
        div(class="wrapper_grid")
            div
            div
            div(class="wrapper_img")
                img(src="../assets/imgScroll/IMG_4582.png", alt="select" class="img img_select")
        div(class="sub_wrapper_description sub_wrapper_select")
            p(class="title article_select__title") ПОДБЕРИТЕ
            div(class="sub_sub_wrapper_description sub_sub_wrapper_select")
                p(class="description article_select__description") фунционал СБИС и тариф
                p(class="description article_select__description") Научим и расскажем вам, как
                p(class="description article_select__description") работает СБИС, какой сервис
                p(class="description article_select__description") выгоден и удобен клиенту.