@import '../../style/mixin.scss';
@import '../../style/color.scss';

.header {
    z-index: 10;
    position: relative;
    align-items: center;
    @include block(100%, 123px);
    justify-content: space-between;
    @media  screen and (max-width: 420px) {
        align-items: flex-start;
    }
}

.header_wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: clamp(280px, 100%, 1440px);
    @media  screen and (max-width: 420px) {
        margin-top: 16px;
    }
}

.header__title {
    margin-top: -1px;
    @media  screen and (max-width: 420px) {
        margin-top: 4px;
    }
}

.header__logo {
    margin: 0 0 6px -5px;
    @media  screen and (max-width: 1050px) {
        height: 50px;
        margin: 0;
    }
    @media  screen and (max-width: 420px) {
        height: 43px;
        margin: 2px 0 0 -10px;
    }
    @media  screen and (max-width: 400px) {
        margin: 0 auto;
    }
}

.header__text {
    font-weight: 100;
    margin-left: -11px;
    margin-bottom: 3px;
    @include text(18px, 'Helvetica', $gray, -0.015em);
    @media  screen and (max-width: 1050px) {
        font-size: 16px;
        margin-left: -5px;
        margin-bottom: 1px;
    }
    @media  screen and (max-width: 420px) {
        font-size: 14px;
        margin-bottom: -1px;
        margin-left: -15px;
    }
}

.wrapper_logo {
    display: flex;
    align-items: center;
    margin: 10px 0 0 75px;
    max-width: clamp(320px, 100%, 600px);
    @media  screen and (max-width: 1050px) {
        margin: -10px 0 0 54px;
    }
    @media  screen and (max-width: 780px) {
        font-size: 14px;
        margin: 0 auto;
    }
    @media  screen and (max-width: 420px) {
        margin: 0 15px;
    }
    @media  screen and (max-width: 400px) {
        margin: 0 auto;
    }
}

.wrapper_button {
    display: flex;
    align-items: center;
    margin: 0 49px 10px 0;
    max-width: clamp(320px, 100%, 600px);
    @media  screen and (max-width: 1050px) {
        margin: 0 30px 6px 0;
    }
    @media  screen and (max-width: 780px) {
        font-size: 14px;
        margin: 0 auto;
    }
    @media  screen and (max-width: 420px) {
        margin-right: 18px;
        margin-top: 9px;
    }
    @media  screen and (max-width: 400px) {
        margin: 0 auto;
    }
}

.header__button_contacts {
    @include button(10px, 30px);
    @include text(18px, 'Helvetica', black, -0.015em);

    @media  screen and (max-width: 1050px) {
        font-size: 16px;
        margin-bottom: 7px;
        @include button(8px, 28.5px);
    }
    @media  screen and (max-width: 780px) {
        display: none;
    }
}

.header__button_burger {
    margin: 0 26px;
    position: relative;
    @include button(21.5px, 31px);
    &::before,
    &::after {
        content: '';
        left: 33%;
        width: 33%;
        height: 3px;
        position: absolute;
        background-color: black;
        transition: all .45s ease-in-out;
    }
    &::before {
        top: 15px;
        transform: rotate(0);
        @media  screen and (max-width: 1050px) {
            top: 23px;
        }
    }
    &::after {
        bottom: 15px;
        box-shadow: 0 -5px black;
        @media  screen and (max-width: 1050px) {
            bottom: 17px;
            box-shadow: 0 -6px black;
        }
    }
    @media  screen and (max-width: 1050px) {
        margin-right: 26px;
        margin-bottom: 8px;
        margin-left: 20px;
        @include button(18px, 31px);
    }
    @media  screen and (max-width: 780px) {
        margin: 0 auto;
    }
}
