header(class="header")
    section(class="header_wrapper")
        div(class="wrapper_logo")
            p(class="header__title title") ТАВИАТ
            img(src="../../assets/svg/logo.svg", alt="taviat.logo" class="header__logo")
            p(class="header__text") ПАРТНЕРСТВО
        div(class="wrapper_button")
            button(class="header__button_contacts") Контакты
            div(class="header__button_burger")
