@import './mixin.scss';

@font-face {
    font-family: "HandelGothic TL";
    src: url("../assets/fonts/handelGothicTL.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/helvetica_regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;                                          
}

body, html {
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
}

.paralax_layer {
    z-index: -1;
    width: 160vw;
    height: 160vh;
    position: absolute;
    background-size: auto 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../assets/backgroundParalax/background.png");
}

.main {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    flex-direction: column;
}

.title_big {
    margin-top: 2px;
    margin-left: 3px;
    text-align: start;
    line-height: 98.49%;
    @include text(clamp(24px, 10vw, 96px), 'HandelGothic TL', white, -0.03em);
    @media  screen and (max-width: 1050px) {
        font-size: 64px;
    }
    @media  screen and (max-width: 780px) {
        font-size: 45px;
        text-align: center;
    }
}

.title_medium {
    left: -3px;
    line-height: 98%;
    position: inherit;
    margin-bottom: 30px;
    @include text(64px, 'HandelGothic TL', black, -0.03em);
    @media  screen and (max-width: 1050px) {
        font-size: 48px;
    }
    @media  screen and (max-width: 780px) {
        font-size: 40px;
    }
}

.button_big {
    text-transform: uppercase;
    @include button(36px, 98px, white, black);
    @include text(clamp(14px, 8vw, 20px), 'Helvetica', black, -0.015em);
    @media  screen and (max-width: 1050px) {
        font-size: 16px;
        text-align: center;
        @include button(28px, 75px, white, black);
    }
    @media  screen and (max-width: 420px) {
        font-size: 14px;
        text-align: center;
    }
}

.title {
    @include text(30px, 'HandelGothic TL', black, -0.03em);
    @media  screen and (max-width: 1050px) {
        font-size: 20px;
    }
    @media  screen and (max-width: 420px) {
        font-size: 16px;
    }
}