@font-face {
    font-family: "HandelGothic TL";
    src: url("../assets/fonts/handelGothicTL.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/helvetica_light.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;                                          
}

body, html {
    overflow-x: hidden;
}
