@import './mixin.scss';

@font-face {
    font-family: "HandelGothic TL";
    src: url("../assets/fonts/handelGothicTL.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/helvetica_regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;                                          
}

body, html {
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

.parallax {
    inset: 0;
    z-index: -1;
    position: fixed;
    display: none;
}

.parallax_layer {
    inset: 0;
    position: absolute;
}

.paralax_background {
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    & > img {
        width: 100%;
        &:nth-child(1) {
            transform: translate3d(585px, -220px, 0px);
        }
    }
}

.main {
    display: flex;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
}

.title_big {
    margin-top: 2px;
    margin-left: 3px;
    text-align: start;
    line-height: 98.49%;
    @include text(clamp(24px, 10vw, 96px), 'HandelGothic TL', white, -0.03em);
}

.title_medium {
    left: -3px;
    line-height: 98%;
    position: inherit;
    margin-bottom: 30px;
    @include text(clamp(24px, 10vw, 64px), 'HandelGothic TL', black, -0.03em);
}

.button_big {
    margin: 73px 8px 12px;
    text-transform: uppercase;
    @include button(36px, 98px, white, black);
    @include text(clamp(14px, 8vw, 20px), 'Helvetica', black, -0.015em);
}