@mixin block($width, $height, $margin: 0px) {
    display: flex;
    width: $width;
    min-height: $height;
    margin: $margin auto;
}

@mixin button($width, $height, $background: transparent, $color: #000) {
    cursor: pointer;
    border-radius: 60px;
    padding: $width $height;
    border: 1px solid $color;
    background-color: $background;
}


@mixin text($fontSize: 18, $font-family: 'Helvetica', $color: black, $letter-spacing: 0) {
    color: $color;
    font-size: $fontSize;
    font-family: $font-family;
    letter-spacing: $letter-spacing;
}

@mixin parallax($distance: 0,$perspective: 1) {
  transform:
    translateZ($distance * $perspective * 1px)
    scale(abs($distance - 1));
  z-index: $distance * 1000;
}