foorer(class="footer")
    section(class="wrapper_footer")
        div(class="section_info grid_area")
            div(class="section_info_data info_data")
                p(class="section_info_phone footer_title") +7 922 521-21-21
                div(class="wrapper_section_info_address")
                    p(class="section_info_address info_description") 426077, Удмуртская республика,
                    p(class="section_info_address info_description") Ижевск, ул.Пушкинская, д.165, лит. Б, пом. 95-111
            div(class="section_info_link info_data")
                p(class="section_info_site_address footer_title") info@sbisfranch.ru
                div(class="sub_section_info_link")
                    a(href="#" class="footer__link link_youtube") YouTube
                    a(href="#" class="footer__link link_vk") ВКонтакте
                    a(href="#" class="footer__link link_instagram") Instagram
        div(class="sub_section_info grid_area")
            div(class="wrapper_footer_logo")
                img(class="logo" src="./assets/svg/logo.svg")
                p(class="footer_logo_title title") ТАВИАТ
            div(class="wrapper_link")
                div(class="sub_section_info__site_info menu")
                    p(class="footer_title link_menu") меню
                    a(href="#" class="info_description link_info_description") Реферальная программа
                    a(href="#"  class="info_description link_info_description") Официальный представитель
                    a(href="#"  class="info_description link_info_description") Собственный бизнес
                div(class="sub_section_info__site_info document")
                    p(class="footer_title link_document") документы
                    a(href="#"  class="info_description link_info_description") Реквизиты
                    a(href="#"  class="info_description link_info_description") Политика конфиденциальности
        p(class="copyright") © Все права защишены
