article(class="article_form_title")
    div(class="wrapper_form_title")
        p(class="form_title title_medium form_title_pc") СТАНЬТЕ ОФИЦИАЛЬНЫМ ПРЕДСТАВИТЕЛЕМ ТАВИАТ
        p(class="form_title title_medium form_title_mobile") СТАНЬТЕ
        p(class="form_title title_medium form_title_mobile") ОФИЦИАЛЬ
        p(class="form_title title_medium form_title_mobile") НЫМ
        p(class="form_title title_medium form_title_mobile") ПРЕДСТАВИТЕ
        p(class="form_title title_medium form_title_mobile") ЛЕМ ТАВИАТ
    div(class="sub_article_form_title")
        div(class="animation_line form_title_animation_line")
        button(class="button_big form_button") ЗАРЕГИСТРИРОВАТЬСЯ