article(class="article_form_title")
    div(class="wrapper_form_title")
        p(class="form_title title_medium") СТАНЬТЕ ОФИЦИАЛЬНЫМ ПРЕДСТАВИТЕЛЕМ ТАВИАТ
    div(class="animation_line form_title_animation_line")
    button(class="button_big form_button") ЗАРЕГИСТРИРОВАТЬСЯ