doctype html
html(lang="ru")
    block variables 
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= pageTitle
        link(rel="stylesheet", href="css/style.css")
    body
    include ../components/header/header
    include ../components/greetings/greetings
    main(class="main")
        section(class="parallax")
            div(class="paralax_layer")
                img(src="../assets/backgroundParalax/background.png", alt="background" class="paralax_background")
        block content

    include ../components/footer/footer
    
    script(src="js/components/form/form.js", defer)
    script(src="js/components/scroll/scroll.js", defer)
